/* 
    Mengaktifkan font yang sudah di download di dafont 
*/
@font-face {
    font-family: "Matcha Mint";
    src: url("/static/fonts/Matcha Mint.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Milky Cream";
    src: url("/static/fonts/Milky%20Cream.otf") format("opentype");
}

@font-face {
    font-family: "SimpleHandmade";
    src: url("/static/fonts/SimpleHandmade.ttf") format("opentype");
}

@font-face {
    font-family: "AGENTORANGE";
    src: url("/static/fonts/AGENTORANGE.TTF") format("opentype");
}

@font-face {
    font-family: "Highway Gothic";
    src: url("/static/fonts/Highway Gothic.TTF") format("opentype");
}

@font-face {
    font-family: "Taste Bread";
    src: url("/static/fonts/Taste Bread.otf") format("opentype");
}


.site-header nav a {
    position: relative;
    color: var(--ink);
    text-decoration: none;
    transition: 0.3s ease;

}

.site-header {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    background: rgba(0, 0, 0, 0.15);
}

.site-header nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 3px;
    background: white;
    border-radius: 10px;
    transition: 0.3s ease;
}

.site-header nav a:hover {
    color: white;
}

.site-header nav a:hover::after {
    width: 100%;
}

/*
    button about
*/
.button-about {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background-color: var(--accent);
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 700;
    transition: 0.3s;
}

.button-about:hover {
    transform: translateY(-3px);
    opacity: 0.85;
}


/* 
   RESET
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.pages {
    display: flex;
    width: 100%;
    align-items: flex-start;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}

.pages::-webkit-scrollbar {
    display: none;
}

/* Pengaturan dasar masing-masing section */
.pages>section {
    min-width: 100vw;
    flex-shrink: 0;
    scroll-snap-align: start;
}

/* 
   VARIABLES
 */
:root {
    --ink: #1c1917;
    --paper: #faf6f0;
    --accent: #39b1d9;
    --accent-dark: #a8442a;
    --line: #e3d9c9;
    --text-muted: #6b6459;
    --radius: 4px;
}

/* PAGE- HOME */

.intro {
    text-align: center;
    min-height: calc(100vh-100px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
}

.intro-card {

    text-align: center;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 10px;
    border-radius: 10px;
    max-width: 800px;
    width: 90%;
    align-items: center;
    justify-content: center;
}

.intro-card h1 {
    font-family: "AGENTORANGE";
    font-size: 60px;
}

.intro-card p {
    font-family: "SimpleHandmade", cursive;
    font-size: 30px;
}

/* Foto nailong */
.intro-image {
    justify-content: center;
    align-items: center;
    display: flex;
}

.intro-image img {
    width: 240px;
    height: 240px;
    object-fit: contain;
}


/* 
    BODY
*/
body {
    margin: 0;
    overflow-x: hidden;
    font-family: -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    color: var(--ink);
    line-height: 1.6;

    /* Background bawah laut + overlay gelap transparan */
    background-image:
        linear-gradient(rgba(20, 35, 40, 0.38),
            rgba(20, 35, 40, 0.38)),
        url("/static/img/background.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


/* 
    SWIPE 
*/
.swipe-hint {
    margin-top: 25px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 8px 20px;

    background-color: var(--accent);
    color: white;
    font-family: "Space Grotesk", sans-serif;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    font-weight: 700;
    animation: floatHint 5s ease-in-out infinite;
}

.swipe-text {
    font-family: "Simply Olive";
}

.swipe-hint .arrow {
    font-size: 28px;
    font-weight: 700;
    animation: swipeArrow 1s infinite;
    justify-content: center;
}

@keyframes swipeArrow {

    /*Panah bergerak ke kanan*/
    0%,
    100% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(10px);
    }
}

@keyframes floatHint {

    /* Card sedikit naik-turun */
    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-4px);
    }
}


/* 
   TYPOGRAPHY
 */
h2,
.brand {
    font-family: "Space Grotesk", sans-serif;
}

.education-card:hover {
    transform: translateY(-10px) scale(1.03);

    background: rgba(88, 191, 255, 0.95);
}



/* 
   CONTAINER
 */

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 1.5rem;
}

/* 
   HEADER
 */

.site-header {
    border-bottom: 1px solid var(--line);
}

.site-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 1.5rem;
}

.brand {
    font-family: "Space Grotesk", sans-serif;
    font-size: 26px;
    font-weight: 700;
    color: #1c1917;
    text-decoration: none;
}

.site-header nav {
    display: flex;
    gap: 2rem;
}

.site-header nav a {
    color: var(--ink);
    text-decoration: none;
    font-size: 0.95rem;
}


/* 
   HERO
 */

.hero {
    padding: 4.5rem 0 5rem;
}

.hero-grid {
    display: grid;
    grid-template-columns: 1.3fr 1fr;

    grid-template-areas:
        "identity photo"
        "details photo";

    gap: 1.5rem 3rem;
}

.hero-identity {
    grid-area: identity;
}

.hero-details {
    grid-area: details;
}

/* 
   KICKER
 */

.hero-kicker {
    display: inline-block;

    font-size: 0.95rem;
    letter-spacing: 0.08em;
    text-transform: uppercase;

    color: #fffaf0;
    font-weight: 700;

    margin-bottom: 0.75rem;

    text-decoration: none !important;

    /* Membuat tulisan lebih jelas */
    text-shadow:
        2px 2px 4px rgba(0, 0, 0, 0.75),
        0 0 8px rgba(0, 0, 0, 0.35);
}

.hero-kicker:hover,
.hero-kicker:visited,
.hero-kicker:active {
    color: #fffaf0;
    text-decoration: none !important;
}


/* 
   FONT MATCHA MINT
 */

.hero-identity h1 {
    font-family: "Matcha Mint", cursive;
    font-size: clamp(2.5rem, 5.5vw, 4rem);
    line-height: 1;
    font-weight: normal;
}


/* 
   BIO
 */
.bio {
    color: #fffaf0;
    max-width: 520px;
    margin-bottom: 1.5rem;
    line-height: 1.7;

    text-shadow:
        1px 2px 4px rgba(0, 0, 0, 0.8);
}

/* 
   NPM & PROGRAM
 */
.meta-list {
    display: flex;
    gap: 2rem;
    margin-bottom: 1.5rem;

    background: rgba(250, 246, 240, 0.78);

    padding: 0.9rem 1.25rem;

    border-radius: 10px;

    width: fit-content;

    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.12);
}

.meta-row dt {
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.06em;

    color: #5a5148;

    margin-bottom: 0.15rem;
}

.meta-row dd {
    font-weight: 700;
    color: #1c1917;
}


/* 
   SOCIAL LINKS
 */

.social-links {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.social-link {
    display: inline-block;

    font-size: 0.85rem;
    font-weight: 600;

    text-decoration: none;

    color: var(--paper);
    background-color: var(--ink);

    border-radius: var(--radius);

    padding: 0.5rem 1.1rem;

    transition: background-color 0.2s ease;
}

.social-link:hover {
    background-color: var(--accent);
}


/* FOTO PROFIL*/

.hero-photo {
    grid-area: photo;
    align-self: center;
    position: relative;
}

.photo-block {
    position: absolute;

    top: 1.25rem;
    left: 1.25rem;

    width: 100%;
    height: 100%;

    background-color: var(--accent);

    border-radius: var(--radius);

    z-index: 0;
}

.avatar {
    position: relative;
    z-index: 1;

    display: block;

    width: 100%;
    aspect-ratio: 1 / 1;

    object-fit: cover;

    border-radius: var(--radius);

    border: 3px solid var(--ink);
}


/* FOOTER*/

.site-footer {
    padding: 12px 20px;
    color: white;
    font-size: 14px;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    background: rgba(0, 0, 0, 0.15);
}


/* RESPONSIVE / HP */
@media (max-width: 600px) {

    .hero-grid {
        grid-template-columns: 1fr;

        grid-template-areas:
            "identity"
            "photo"
            "details";
    }

    .hero-photo {
        max-width: 220px;
    }

    .social-links {
        justify-content: flex-start;
    }
}


/* PAGE EDUCATION */
.education-page {
    padding-top: 30px;
    padding-bottom: 30px;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.education-content {
    width: 90%;
    max-width: 1100px;
    text-align: center;
}


/*  JUDUL EDUCATION*/

.ketik {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.ketik h1 {
    font-family: "AGENTORANGE";
    font-size: 50px;
    color: #E8F7FA;
    text-shadow:
        3px 3px 0 #1c1917,
        0 0 10px rgba(255, 224, 102, 0.35);


    white-space: nowrap;
    overflow: hidden;

    width: 0;

    border-right: 4px solid orange;

    animation:
        ketikan 2.5s steps(9, end) forwards,
        kedip 0.75s step-end infinite;
}


/* Efek mengetik */
@keyframes ketikan {
    from {
        width: 0;
    }

    to {
        width: 9ch;
    }
}


/* Efek kursor */
@keyframes kedip {

    0%,
    100% {
        border-color: transparent;
    }

    50% {
        border-color: orange;
    }
}


/* EDUCATION CARDS */
.education-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;

    gap: 25px;
}


.education-card {
    width: 280px;
    min-height: 330px;

    padding: 25px;

    background: rgba(255, 255, 255, 0.85);
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
}

/* memberikan efek saat kursor ke arah box */
.education-card:hover {
    transform: translateY(-10px) scale(1.03);

    background: rgba(88, 191, 255, 0.95);
}

.education-link {
    width: 280px;
    min-height: 330px;

    padding: 25px;

    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
}


/* Logo  */

.education-logo {
    width: 200px;
    height: 200px;
    object-fit: contain;

    margin-bottom: 20px;
}


.education-card h2 {
    font-size: 25px;
    margin: 10px 0;
    font-family: "SimpleHandmade";
}


.education-card p {
    font-size: 23px;
    margin: 5px 0;
    font-family: "SimpleHandmade";
}


/* 
   PAGE EXPERIENCE
 */

.experience-page {
    padding-top: 30px;
    padding-bottom: 30px;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.experience-content {
    width: 90%;
    max-width: 1100px;
    text-align: center;
}


/* JUDUL EXPERIENCE */

.experience-content .ketik {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}


/* EXPERIENCE CARDS */

.experience-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 25px;
}

.experience-card {
    width: 400px;
    min-height: 330px;

    padding: 25px;

    background: rgba(255, 255, 255, 0.85);
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
}

/* memberikan efek saat kursor ke arah box */
.experience-card:hover {
    transform: translateY(-10px) scale(1.03);

    background: rgba(88, 191, 255, 0.95);
}

.experience-link {
    width: 280px;
    min-height: 330px;

    padding: 25px;

    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
}


/* LOGO EXPERIENCE */

.experience-card .avatar {
    width: 300px;
    height: 300px;
    object-fit: contain;
    border: none;
    margin-bottom: 20px;
}

.experience-card h2 {
    font-size: 25px;
    margin: 10px 0;
    font-family: "SimpleHandmade";
}

.experience-card p {
    font-size: 23px;
    margin: 5px 0;
    font-family: "SimpleHandmade";
}

.experience-content .avatar {
    border: none;
}

/* PAGE - ACHIEVEMENT */

.achievements-page {
    padding-top: 30px;
    padding-bottom: 30px;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.achievements-content {
    width: 90%;
    max-width: 1100px;
    text-align: center;
}

/* JUDUL ACHIEVEMENT */

.achievements-content .ketik {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

/* ACHIEVEMENT CARDS */
.achievements-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 25px;
}

.achievements-card {
    width: 400px;
    min-height: 330px;

    padding: 25px;

    background: rgba(255, 255, 255, 0.85);
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
}

/* memberikan efek saat kursor ke arah box */
.achievements-card:hover {
    transform: translateY(-10px) scale(1.03);

    background: rgba(88, 191, 255, 0.95);
}


.achievements-card .avatar {
    width: 300px;
    height: 300px;
    object-fit: contain;
    border: none;
    margin-bottom: 20px;
}


.achievements-card h2 {
    font-size: 25px;
    margin: 10px 0;
    font-family: "SimpleHandmade";
}

.achievements-card h3 {
    font-size: 25px;
    margin: 10px 0;
    font-family: "SimpleHandmade";
}

.achievements-card p {
    font-size: 23px;
    margin: 5px 0;
    font-family: "SimpleHandmade";
}

.achievements-content .avatar {
    border: none;
}


/* PAGE - SKILLS */

.skills-page {
    padding-top: 30px;
    padding-bottom: 30px;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.skills-content {
    width: 90%;
    max-width: 1100px;
    text-align: center;
}

/* JUDUL SKILLS */

.skills-content .ketik {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

/* SKILLS CARDS */

.skills-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 25px;
}

.skills-card {
    width: 400px;
    min-height: 500px;
    padding: 25px;

    background: rgba(255, 255, 255, 0.85);
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
}

.skills-card:hover {
    transform: translateY(-10px) scale(1.03);

    background: rgba(88, 191, 255, 0.95);
}

.skills-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px 20px;
    width: 100%;
}

.skills-list p {
    font-size: 20px;
    margin: 0;
    font-family: "SimpleHandmade";
}

/* GAMBAR SKILLS */

.skills-logo {
    width: 250px;
    height: 250px;
    object-fit: contain;
    margin-bottom: 20px;
}

/* JUDUL */
.skills-card h2 {
    font-size: 25px;
    margin: 10px 0 20px;
    font-family: "SimpleHandmade";
}

/* DAFTAR SKILL */
.skills-card p {
    font-size: 23px;
    margin: 5px 0;
    font-family: "SimpleHandmade";
}

/* 
   CONTACT
 */

.contact-page {
    padding-top: 30px;
    padding-bottom: 30px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.contact-content {
    width: 90%;
    max-width: 1100px;

    text-align: center;

    position: relative;
    z-index: 2;
}


/* 
   MESSAGE + NAILONG
 */

.contact-message {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 20px;

    margin-top: 30px;
}


/* SPEECH BUBBLE */
.message-box {
    position: relative;

    width: 420px;

    padding: 25px 35px;

    background: rgba(255, 255, 255, 0.85);

    border-radius: 35px;

    border: 3px solid white;

    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
}


/* Ujung speech bubble */

.message-box::after {
    content: "";

    position: absolute;

    right: -25px;
    bottom: 30px;

    width: 0;
    height: 0;

    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;

    border-left: 30px solid rgba(255, 255, 255, 0.85);
}


/* TEXT */
.message-box h2 {
    font-family: "SimpleHandmade";
    font-size: 28px;

    margin: 5px 0;
}


/* NAILONG */
.nailong {
    width: 400px;
    height: 400px;

    object-fit: contain;

    animation: floatNailong 2s ease-in-out infinite;
}


/* Nailong bergerak sedikit */
@keyframes floatNailong {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}


/* 
   LET'S CONNECT
 */

.connect-title {
    font-family: "Matcha Mint";
    color: white;
    -webkit-text-stroke: 1px rgb(0, 3, 5);

    font-size: 32px;
    margin-top: 25px;
    margin-bottom: 20px;
}


/* 
   CONTACT CARDS
 */

.contact-cards {
    display: flex;

    justify-content: center;
    align-items: center;

    gap: 30px;
}


/* CARD */

.contact-card {
    width: 180px;
    height: 180px;

    background: rgba(255, 255, 255, 0.80);

    border-radius: 30px;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    text-decoration: none;

    transition: 0.3s;

    box-shadow:
        0 5px 15px rgba(0, 0, 0, 0.15);
}


/* LOGO */

.contact-logo {
    width: 90px;
    height: 90px;

    object-fit: contain;

    margin-bottom: 10px;
}


/* TEXT */

.contact-card span {
    font-family: "Space Grotesk", sans-serif;

    font-size: 18px;

    font-weight: 700;

    color: #1c1917;
}


/* HOVER */

.contact-card:hover {
    transform: translateY(-10px) scale(1.03);

    background: rgba(255, 255, 255, 0.95);
}

/* MENAMBAHKAN BUBBLES  */
/* Note: alasan saya menggunakan efek bubbles agar para pengunjung merasakan seperti menyelam di dalam laut */

.bubbles {
    position: absolute;

    inset: 0;

    pointer-events: none;

    z-index: 1;
}

.bubbles span {
    position: absolute;
    bottom: -50px;
    width: 25px;
    height: 25px;
    border: 2px solid rgba(255, 255, 255, 0.65);
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.15);
    animation: bubbleUp 8s linear infinite;
}


/* posisi gelembung */

.bubbles span:nth-child(1) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.bubbles span:nth-child(2) {
    left: 25%;
    width: 35px;
    height: 35px;
    animation-delay: 2s;
}

.bubbles span:nth-child(3) {
    left: 40%;
    width: 15px;
    height: 15px;
    animation-delay: 4s;
}

.bubbles span:nth-child(4) {
    left: 55%;
    width: 30px;
    height: 30px;
    animation-delay: 1s;
}

.bubbles span:nth-child(5) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 3s;
}

.bubbles span:nth-child(6) {
    left: 82%;
    width: 40px;
    height: 40px;
    animation-delay: 5s;
}

.bubbles span:nth-child(7) {
    left: 90%;
    width: 18px;
    height: 18px;
    animation-delay: 2.5s;
}

.bubbles span:nth-child(8) {
    left: 5%;
    width: 30px;
    height: 30px;
    animation-delay: 6s;
}

.bubbles span:nth-child(9) {
    left: 15%;
    width: 30px;
    height: 30px;
    animation-delay: 2s;
}


/* ANIMASI */

@keyframes bubbleUp {
    0% {
        transform: translateY(0);
        opacity: 0;
    }

    20% {
        opacity: 0.8;
    }

    40% {
        opacity: 0.8;
    }

    80% {
        opacity: 0.8;
    }

    100% {
        transform: translateY(-100vh);
        opacity: 0;
    }
}