{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    {% block meta %}
    {% endblock meta %}
</head>

<body>

    <header class="site-header">
        <div class="container">

            <a href="{% url 'main:show_home' %}" class="brand">
                {{ name }}
            </a>

            <!-- <nav>
                <a href="{% url 'main:show_home' %}">
                    <h2>HOME</h2>
                </a>

                <a href="{% url 'main:show_aboutme' %}">
                    <h2>ABOUT ME</h2>
                </a>

                <a href="{% url 'main:show_education' %}">
                    <h2>EDUCATION</h2>
                </a>

                <a href="{% url 'main:show_experience' %}">
                    <h2>EXPERIENCE</h2>
                </a>

                <a href="{% url 'main:show_achievements' %}">
                    <h2>ACHIEVEMENTS</h2>
                </a>
            </nav> -->

            <nav class="navbar">

                <div class="navbar-brand"> My Portofolio </div>

                <details class="navbar-dropdown">
                    <summary>☰</summary>

                    <div class="navbar-menu">
                        <a href="{% url 'main:show_home' %}">HOME</a>
                        <a href="{% url 'main:show_aboutme' %}">ABOUT ME</a>
                        <a href="{% url 'main:show_education' %}">EDUCATION</a>
                        <a href="{% url 'main:show_experience' %}">EXPERIENCE</a>
                        <a href="{% url 'main:show_achievements' %}">ACHIEVEMENTS</a>
                    </div>

                </details>

            </nav>

        </div>
    </header>

    {% block content %}
    {% endblock content %}

    <footer class="site-footer">
        <div class="container">
            <p>
                &copy; 2026 {{ name }}.
                Fakultas Ilmu Komputer, Universitas Indonesia.
            </p>
        </div>
    </footer>

</body>

</html>