{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    {% block meta %}
    {% endblock meta %}
</head>

<body>

    <header class="site-header">
        <div class="navbar-container">

            <!-- Logo / Brand -->
            <a href="{% url 'main:show_home' %}" class="navbar-brand">
                {{ name }}
            </a>

            <!-- Menu -->
            <nav class="navbar-menu">
                <a href="{% url 'main:show_home' %}">HOME</a>
                <a href="{% url 'main:show_aboutme' %}">ABOUT ME</a>
                <a href="{% url 'main:show_education' %}">EDUCATION</a>
                <a href="{% url 'main:show_experience' %}">EXPERIENCE</a>
                <a href="{% url 'main:show_achievements' %}">ACHIEVEMENTS</a>
            </nav>

            <!-- Login / Register -->
            <div class="navbar-auth">
                {% if user.is_authenticated %}
                <span class="nav-user">
                    {{ user.username }}
                </span>
                <a href="{% url 'main:logout' %}" class="btn-login">LOGOUT</a>

                {% else %}
                <a href="{% url 'main:login' %}" class="btn-login">LOGIN</a>
                <a href="{% url 'main:register' %}" class="btn-register">REGISTER</a>

                {% endif %}

            </div>

            <!-- Mobile Menu -->
            <details class="mobile-menu">
                <summary>☰ Menu</summary>
                <div class="mobile-menu-content">
                    <a href="{% url 'main:show_home' %}">HOME</a>
                    <a href="{% url 'main:show_aboutme' %}">ABOUT ME</a>
                    <a href="{% url 'main:show_education' %}">EDUCATION</a>
                    <a href="{% url 'main:show_experience' %}">EXPERIENCE</a>
                    <a href="{% url 'main:show_achievements' %}">ACHIEVEMENTS</a>

                    {% if user.is_authenticated %}

                    <span class="nav-user">
                        {{ user.username }}
                    </span>

                    <a href="{% url 'main:logout' %}">LOGOUT </a>

                    {% else %}

                    <a href="{% url 'main:login' %}"> LOGIN</a>
                    <a href="{% url 'main:register' %}">REGISTER</a>

                    {% endif %}

                </div>

            </details>

        </div>
    </header>

    {% block content %}
    {% endblock content %}

    <footer class="site-footer">
        <div class="container">
            <p>
                &copy; 2026 {{ name }}.
                Fakultas Ilmu Komputer, Universitas Indonesia.
            </p>
        </div>
    </footer>

</body>

</html>