<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- <title>Alisa Selvia Saharani - Portfolio</title> -->
    <title>{{ name }} - Portofolio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <header class="site-header">
        <div class="container">
            <!-- <a href="#profile" class="brand">Alisa Selvia Saharani</a> -->
            <a href="#profile" class="brand">{{ name }}</a>
            <nav>
                <a href="{% url 'main:show_home' %}">
                    <h2>HOME</h2>
                </a>
                <a href="">
                    <h2>PROFILE</h2>
                </a>
            </nav>
        </div>

    </header>


    <main class="pages">

        <!-- PAGE 2 : EDUCATION -->
        <section class="education-page" id="education">

            <!-- Gelembung -->
            <div class="bubbles">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>


            <div class="education-content">

                <!-- Judul Education -->
                <div class="ketik">
                    <h1>EDUCATION</h1>
                </div>

                <!-- Kartu Education -->
                <div class="education-cards">
                    {% for education in education_list %}
                    <div class="education-card">

                        {% if education.website %}
                        <a href="{{education.website}}" class="education-link" target="_blank">
                            
                            {% if education.logo %}
                            <img class="education-logo" src="{{ education.logo }}" alt="{{ education.institution }}">
                            {% endif %}
                        </a>

                        {% endif %}
                        <h2>{{ education.institution }}</h2>
                        <p>{{ education.degree }}</p>
                        <p>{{ education.period }}</p>
                    </div>

                    {% empty %}

                    <p>Belum ada data pendidikan.</p>

                    {% endfor %}


                </div>

        </section>

    </main>

    <footer class="site-footer">
        <div class="container">
            <!-- <p>&copy; 2026 Alisa Selvia Saharani. Universitas Indonesia.</p> -->
            <p>&copy; 2026 {{ name }}. Fakultas Ilmu Komputer, Universitas Indonesia.</p>
        </div>
    </footer>
</body>

</html>