{% extends 'base.html' %}

{% block meta %}
<title>{{ name }} - Education</title>
{% endblock meta %}

{% block content %}


<main class="pages">
    <!-- PAGE : EXPERIENCE -->
    <section class="experience-page" id="experience">

        <!-- Gelembung -->
        <!-- Note:  Elemen-elemen span ini digunakan untuk membuat efek gelembung/background melalui CSS. -->
        <div class="bubbles">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>

        <!-- container untuk isi seluruh page experience -->
        <div class="experience-content">

            <!-- Judul Experience -->
            <!-- container untuk efek ketik  -->
            <div class="ketik">
                <!-- judul halaman -->
                <h1>EXPERIENCE</h1>
            </div>

            <!-- Kartu Experience -->
            <div class="experience-cards">

                <!-- ambil tiap data experience dari experience_list yg dikirim view  -->
                {% for experience in experience_list %}
                <div class="experience-card">

                    <!-- membuat link menuju website dari experience saya  -->
                    {% if experience.website %}
                    <a href="{{ experience.website }}" class="experience-link" target="_blank">

                        <!--  mengecek logo dari experience tersedia -->
                        {% if experience.logo %}
                        <img class="experience-logo" src="{{ experience.logo }}"
                            alt="{{ experience.institution|default:experience.title }}">
                        {% endif %}

                    </a>

                    {% endif %}
                    <!-- menampilkan judul experience yang berasal dari field model experience -->
                    <h2>{{ experience.title }}</h2>

                    <!-- mengecek institution tersedia -->
                    {% if experience.institution %}
                    <!-- menampilkan nama institution -->
                    <p>{{ experience.institution }}</p>
                    {% endif %}

                    <!-- mengecek period tersedia -->
                    {% if experience.period %}
                    <!-- menampilkan period -->
                    <p>{{ experience.period }}</p>
                    {% endif %}

                    <!-- menggunakan choices dalam milih kategori -->
                    <p>{{ experience.get_category_display }}</p>
                    <!-- menampilkan deskripsi sesuai dari data base  -->
                    <p>{{ experience.description }}</p>
                </div>

                <!-- kalau g ada data maka blm ada pengalaman -->
                {% empty %}
                <p>Belum ada pengalaman yang ditambahkan.</p>
                {% endfor %}
            </div>
    </section>
</main>

{% endblock content %}