<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alisa Selvia Saharani - Portfolio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <header class="site-header">
        <div class="container">
            <a href="#profile" class="brand">Alisa Selvia Saharani</a>
            <nav>
                
                <!-- Menu -->
                <a href="{% url 'home' %}">HOME</a>
                <a href="{% url 'aboutme' %}">ABOUT</a>

            </nav>
        </div>
    </header>


    <main> <!-- -> wadah page utama -->
        <section class="intro">
            <div class="intro-card">
                <div class="intro-image">
                   <img class="avatar" src="/static/img/nailong.png" alt="Photo of nailong">
                </div>
                <h1> Hello, I'm Alisa</h1>
                <p> I'm a Computer Science student at Universitas Indonesia.</p>
                <p> Welcome to my portofolio!!!</p>
                <p> This is a little space where I share more about myself.</p>
                <a href="{% url 'aboutme' %}">Get to know me → </a>
            </div>
        </section>

    </main>

</body>

</html>