<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alisa Selvia Saharani - Portfolio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <header class="site-header">
        <!-- mengatur posisi dan lebar navbar -->
        <div class="container">

            <!-- Judul navbar nama saya -->
            <!-- Note: bagian heaer/navbar yg menampilkan nama saya -->
            <a href="#profile" class="brand"> {{ name }}</a>

            <!-- MENU NAVBAR EXPERIENCE -->
            <!-- note: dlm navbar ini digunakan django untuk mencari URL berdasarkan nama route yg sudah dibuat di main/urls.py -->
            <nav>
                <!-- Link menuju page home -->
                <a href="{% url 'main:show_home' %}">
                    <h2>HOME</h2>
                </a>
                <!-- Link menuju page aboutme -->
                <a href="{% url 'main:show_aboutme' %}">
                    <h2>ABOUT ME</h2>
                </a>
                <!-- Link menuju page education -->
                <a href="{% url 'main:show_education' %}">
                    <h2>EDUCATION</h2>
                </a>
                <!-- Link menuju page experience -->
                <a href="{% url 'main:show_experience' %}">
                    <h2>EXPERIENCE</h2>
                </a>
            </nav>
        </div>
    </header>


    <main> <!-- -> wadah page utama -->
        <section class="intro">
            <div class="intro-card">

                <!-- menambahkan foto ikonik yang saya sukai yaitu nailong agar pengunjung merasa terhibur dengan keimutan dan lucunya nailong kuning >_< -->
                <div class="intro-image">
                    <img class="avatar" src="/static/img/nailong.png" alt="Photo of nailong">
                </div>

                <!-- membuat deskripsi perkenalan agar pengunjung terkesan di page utama home saya :) -->
                <div class="ketik-home">
                    <!-- <h1> Hello, I'm Alisa</h1> -->
                                <!-- | -->
                                <!-- ↓ -->
                    <!-- menggunakan context Django -->
                        <h1>{{ perkenalan }}</h1>
                </div>

                <!-- <p> I'm a Computer Science student at Universitas Indonesia.</p>
                <p> Welcome to my portofolio!!!</p>
                <p> This is a little space where I share more about myself.</p> -->
                                            <!-- | -->
                                            <!-- ↓ -->
                                <!-- menggunakan context Django -->
                                        <p>{{ bio }}</p>
                                        <p>{{ bio1 }}</p>
                                        <p> {{ bio2 }} </p>

                <!-- membuat button untuk menunjukkan ke halaman selanjutnya -->
                <a href="{% url 'main:show_aboutme' %}" class="button-about">Get to know me → </a>
            </div>
        </section>

    </main>

    <!-- Container untuk isi footer -->
    <footer class="site-footer">
        <div class="container">
            <!-- {{ name }} mengambil nama dari context View Django. -->
            <p>&copy; 2026 {{ name }}. Fakultas Ilmu Komputer, Universitas Indonesia.</p>
        </div> <!-- Menutup container footer -->
    </footer> <!-- Menutup footer -->
</body>

</html>